<h1>Create your pirate!</h1>

<form action="/pirates" method="post">
  Pirate Name: <input type="text" id="pirate[name]" name="pirate[name]"><br>
  Pirate Weight: <input type="text" id="pirate[weight]" name="pirate[weight]"><br>
  Pirate Height: <input type="text" id="pirate[height]" name="pirate[height]"><br>
  Ship 1 Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
  Ship 1 Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
  Ship 1 Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>
  Ship 2 Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
  Ship 2 Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
  Ship 2 Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>
  <input type="submit" id="Submit">
</form>
